.git
.github
.gitignore

# VS Code
.vscode

# env files
.env
.env.example

# npm
node_modules

# hardhat
cache
coverage
coverage.json
deploy
types
deployments/localhost
hardhat.config.ts
scripts
typechain-types

# misc
.prettierrc
.solcover.js
CONTRIBUTING.md
tsconfig.json