.git
.github
.gitignore

# VS Code
.vscode

# env files
.env
.env.example

# npm
node_modules

# hardhat
cache
coverage
coverage.json
deploy
deployments/localhost
hardhat.config.ts
scripts
test
typechain-types

# misc
.prettierrc
.solcover.js
audits
BUG_BOUNTY.md
CONTRIBUTING.md
tsconfig.json